@using TaskMVC.Models;
@{
    ViewBag.Title = "Employee";

    Employee employee = ViewBag.Employee as Employee;

    //employee.Name = "Zawar";
    //employee.DateOfBirth = DateTime.Now.AddYears(-25);
    //employee.GPA = 3;
    //employee.NDouble = 3.0;
    //employee.PocketMoney = 300000;
    //employee.Salary = 70000;
    //employee.TimeStamp = DateTime.Now;
    //employee.UrduName = "Zawar";


    List<Employee> Employee = ViewBag.M as List<Employee>;
}

<h2>Employee</h2>


@if (TempData["Error"] != null)
{
    @Html.Raw(TempData["Error"])

}

<form action="@Url.Action("Employee","Home")" method="post" id="MyForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="ID" value="0" id="ID" />
                <input class="form-control" name="Name" id="Name" value="@employee.Name" />
                <label id="NameLabel"></label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Salary</label>
                <input class="form-control" name="Salary" id="Salary" value="@employee.Salary" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>PocketMoney</label>
                <input class="form-control" name="PocketMoney" id="PocketMoney" value="@employee.PocketMoney" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>GPA</label>
                <input class="form-control" name="GPA" id="GPA" value="@employee.GPA" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>NDouble</label>
                <input class="form-control" name="NDouble" id="NDouble" value="@employee.NDouble" />
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label>DateOfBirth</label>
                <input class="form-control" name="DateOfBirth" id="DateOfBirth" type="date" value="@employee.DateOfBirth" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>UrduName</label>
                <input class="form-control" name="UrduName" id="UrduName" value="@employee.UrduName" />
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" type="button" id="SubmitForm">Submit</button>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>PocketMoney</th>
            <th>NDouble</th>
            <th>GPA</th>
            <th>DateOfBirth</th>
            <th>UrduName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="TableBody">
        @foreach (var element in Employee)
        {
            <tr id="tr_@element.ID">
                <td>@element.Name</td>
                <td>@element.Salary</td>
                <td>@element.PocketMoney</td>
                <td>@element.NDouble</td>
                <td>@element.GPA</td>
                <td>@(element.DateOfBirth?.ToString("yyyy-MM-dd"))</td>
                <td>@element.UrduName</td>
                <td>
                    <a href="#/" class="EditBtn" data-id="@element.ID"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="#/" class="DeleteBtn" data-id="@element.ID"><i class="glyphicon glyphicon-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {

            $("#TableBody").on("click", ".EditBtn", function () {
                 var id = $(this).data("id");
                $.ajax({
                    url: "@Url.Action("GetEmployee", "Home")",
                    method: "POST",
                    data: {
                        ID : id
                    },
                    success: function (resp) {
                        $("#ID").val(resp.ID);
                        $("#Name").val(resp.Name);
                        $("#Salary").val(resp.Salary);
                        $("#PocketMoney").val(resp.PocketMoney);
                        $("#GPA").val(resp.GPA);
                        $("#NDouble").val(resp.NDouble);
                        $("#DateOfBirth").val((new moment(resp.DateOfBirth).format('YYYY-MM-DD')));
                        $("#UrduName").val(resp.UrduName);
                    }
                });
            });


            $("#TableBody").on("click", ".DeleteBtn", function () {
                 var id = $(this).data("id");
                $.ajax({
                    url: "@Url.Action("DeleteEmployee", "Home")",
                    method : "POST",
                    data: {
                        ID : id
                    },
                    success: function (resp) {
                        $(`#tr_${id}`).remove();
                    }

                });
            });


            $("#SubmitForm").click(function () {

                var ID = $("#ID").val();
                if ($("#MyForm").valid()) {               
                    var User = {
                        ID : $("#ID").val(),
                        Name: $("#Name").val(),
                        Salary: $("#Salary").val(),
                        PocketMoney: $("#PocketMoney").val(),
                        GPA: $("#GPA").val(),
                        NDouble: $("#NDouble").val(),
                        DateOfBirth: $("#DateOfBirth").val(),
                        UrduName : $("#UrduName").val()
                    }

                    $.ajax({
                        url: "@Url.Action("Employee", "Home")",
                        method: "POST", 
                        data: {
                            employee: User
                        },
                        success: function (resp) {
                            console.log(resp);
                            if (ID == 0) {
                                AddRow(resp);
                            } else {
                                UpdateRow(resp);
                            }
                            
                        },
                        error: function (resp) {

                        }
                    });
                }
            });





            function AddRow(element) {
                var html = `
     <tr id='tr_${element.ID}'>
                <td>${element.Name}</td>
                <td>${element.Salary}</td>
                <td>${element.PocketMoney}</td>
                <td>${element.NDouble}</td>
                <td>${element.GPA}</td>
                <td>${new moment(element.DateOfBirth).format('YYYY-MM-DD')}</td>
                <td>${element.UrduName}</td>
                <td>
                    <a href="#/" class="EditBtn" data-id="${element.ID}"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="#/" class="DeleteBtn" data-id="${element.ID}"><i class="glyphicon glyphicon-trash text-danger"></i></a>
                </td>
            </tr>

    `;
                $("#TableBody").append(html);

            }


            


            function UpdateRow(element) {
            
                var html = `
     <tr id='tr_${element.ID}'>
                <td>${element.Name}</td>
                <td>${element.Salary}</td>
                <td>${element.PocketMoney}</td>
                <td>${element.NDouble}</td>
                <td>${element.GPA}</td>
                <td>${(new moment(element.DateOfBirth).format('YYYY-MM-DD'))}</td>
                <td>${element.UrduName}</td>
                <td>
                     <a href="#/" class="EditBtn" data-id="${element.ID}"><i class="glyphicon glyphicon-pencil"></i></a>
                     <a href="#/" class="DeleteBtn" data-id="${element.ID}"><i class="glyphicon glyphicon-trash text-danger"></i></a>
                </td>
            </tr>

    `;
                $(`#tr_${element.ID}`).replaceWith(html);
               /// $("#TableBody").append(html);

            }

        });
    </script>

}
